body{
text-align: center;
background-image: url("../images/memphis-colorful.png");
}
h1{
font-size: 90px;
font-family: 'Permanent Marker', cursive;
padding:20px;
margin:0 auto;
color:#bdd0e0;
}
h2{
font-size: 45px;
font-family: 'Permanent Marker', cursive;
color:#ef7975;
}
#questions{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color:#b288fc;
}

#options{
font-family: 'Caveat', cursive;
font-size: 35px;
color: #a9e5b9;
}
.card{
    width: 150%;
    margin: 20px;
    padding:20px;
}
#wrapper{
    width: 0 auto;
    height: 0 auto;
    margin: 0 auto;
}
#start{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgb(255, 116, 2);
    font-weight: bolder;
}